.cover{

	background-color:black;

	height:720px;
	background-size: cover;
}

.bg{
	background-image: url('../img/bgimg.jpg');
	background-size: cover;
	height: 720px;
	opacity: 0.4;
	-webkit-filter: blur(1px);
	top:0;
	right:0;
	bottom:0;
	left:0;


}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;

	border-top: 40px solid BLACK;
}


.center{
	text-align:-webkit-center;
	/*padding-top:2%;*/

}

.navbar_container{
	top:0;
	/*height:110px;*/
}

.intro{
	position:absolute;
	top:0;
	height:720px;
	width:100%;

}

.space{
	margin-top: 3%;
	/*margin-right:3%;*/
}

div.navbar_container a{
	color:whitesmoke;
	font-size:15px;
	/*margin-left:30px;*/
	font-family: Source+Sans+Pro;
}
div.navbar_container a:hover{
	color:#000;
}

.text{
	color:white;
	text-align: left;
	margin-top:50px;
	text-align: center;
}

.SignUp{
	display:inline-block;
	-webkit-border-radius:2px ;
	/*background-color:#CB4042;*/
	height:50px;
	padding-left:50px;

	background:#CB4042 url('../img/Gplus.png') no-repeat;
	background-size:30px;
	background-position:10px;

}

.SignUp span{
	border-left:2px solid #F8C3CD;
	margin:0;
	display:block;
	padding:14px 30px;
	height:50px;
	color:white

}

.logo{
	background:url('../img/Logo.png') no-repeat;
	background-size:40px;
}


.sep{

	position: absolute !important;
	right: 127px;
	border-left: solid white;
	height: 30px;
	vertical-align: middle;
	margin-top: 1%;

}

.box{
	border:solid whitesmoke 1px
}

.frame{
	border-top: solid 2px #7D7878;
	border-radius:20px;
	border-left:solid 2px #7D7878;
	border-right: solid 2px #7D7878;
	padding-top:6%;
	text-align: center;
	/*margin-top: -5%;*/
	width:80%;
	margin-left:10%;
}
.content{
	margin-top:6%;
}

.studentLogin{
	position: absolute !important;
	right: 5px;
	/* border: solid white 2px; */
}

.companyLogin{
	position: absolute !important;
	right: 150px;
}

h1.h1-black{
	font-family:Lato;font-size:50px;font-weight:100;
}
h1.h1-black-solid{
	font-family:Lato;font-size:50px;font-weight:300;
}
h3.h3-black{font-family:Lato; -webkit-font-smoothing:antialiased;}
@media screen and (max-width: 420px) {

	li.sep {
		display:none !important;
	}
	.box{
		/*border:none;*/
	}
	.content{
		margin-top:40%;
	}
	h1.h1-black,h1.h1-black-solid{
		font-size:20px;
	}
	h3.h3-black{
		font-size:10px;
	}
}

@media screen and (max-width: 768px) {
	.box{
		border:none;
	}
	.content{
		margin-top:20%;
	}
	.cover{
		height:500px;
	}
	h1.h1-black,h1.h1-black-solid{
		font-size:30px;
	}
	h3.h3-black{
		font-size:15px;
	}
}
@media screen and (max-width: 767px) {
	#myNavbar .logo, #myNavbar .sep{
		display:none;
	}
	.companyLogin, .studentLogin{
		text-align:-webkit-center;
		position:relative !important;
		right:auto;
	}
	.navbar-header{
		text-align:-webkit-center !important;

	}
	.navbar-toggle{
		float:none !important;
	}
}


.form-control{

	margin-bottom:10px;
}


.subtitle{
	/*width:700px;*/
	font-size:15px;
	-webkit-font-smoothing:antialiased;
	line-height: 2;
}


.screen{
	border-top: solid 2px #7D7878;
	border-right: solid 2px #7D7878;
	border-left: solid 2px #7D7878;
	height: 370px;
	background:url('../img/Screen.png') no-repeat;
	background-size: cover;
	opacity:0.8;
}

div#drawcanvas{
	border-top: solid 2px #7D7878;
	border-right: solid 2px #7D7878;
	border-left: solid 2px #7D7878;
	height: 370px;
	background:url('../img/Screen.png') no-repeat;
	background-size: cover;
	opacity:0.8;
}

.overlap{
	text-align: left;
	position: absolute;
	right: -110px;
	top:25%;
	color:white;
	width:300px;
	z-index:5;
}
/*-------------*/
.warp{
	height:800px;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	right: 0px;
	z-index:0;
}

.matrics{
	border:dashed 1px #C3C3C3;
	height:20%;
	width:40%;

	color:#C3C3C3;
	border-radius:10px;
	padding:10px;
	float: left;
	margin-top: 20%;
	margin-left: 20%;
	background-color: #1c1c1c;

}


.rectangle{
	position: absolute;
	height: 400px;
	left: 200px;
	top: 10px;
	background: transparent;
	z-index: -1;
	width: 500px;
}

.upper{

	z-index: 5;
	margin-top: 14%;
	line-height: 1.5;
	padding-top: 20px;

}

.lower{
	margin-top:30%;
	z-index: 2;
	padding-top: 20px;
	line-height: 1.5;
}

.callaction{
	background:url('../img/milky-way-1023340_1920.jpg') no-repeat;
	background-size:cover;
	height:800px
}

.foottext{
	font-weight: 600;
	color:whitesmoke;
	text-align: center;
	font-size: 25px;
	line-height: 1.6;

}



.bigfont{
	color: #C7C6C6;
	font-weight:100;
	font-family:lato;
	font-size:60px;
	text-align:center;
}

.start{
	border: solid 1px #C7C6C6;
	display:inline-block;
	padding:5px 10px;
	margin-left:45%;
	color: #C7C6C6;
	margin-top: 5%;
}

footer {
	padding: 10px 5%;
	font-weight: 300;
	color: #839496;
	background-color:whitesmoke;
a { color: #1B89D4; }
}

.hiden{
	opacity:0.5;
}

.hiden:hover{
	opacity:1;
}

.navbar-nav{
	padding-left:-15px;
}
@media screen and (max-width: 1200px) {
	#navbar > ul{
		padding-right:0 !important;
	}
}

.navbar-nav{
	padding-right:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;

}

.row{

}
